{
  "bracketSpacing": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 130,
  "tabWidth": 2,
  "semi": true,
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(expo/(.*)$)|^(expo$)",
    "^(react-native/(.*)$)|^(react-native$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/(.*)$",
    "",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderTypeScriptVersion": "5.0.0"
}
